 * {
  font-family: 'Roboto', sans-serif;

 }

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.button__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

button {
  font-size: 40px;
  border-radius: 10px;
  width: 90%;
  margin: 10px;
}

.yes {
  background-color: #FF0800;
  color: white;
}

.no {
  background-color: #eec0c8;
  color: white;
  font-size: 20px;
}

.rizz {
  height: 300px;
}

.subtext {
  text-align: center;
}

